---
layout: archive
permalink: /year-archive/
title: "<a href='https://www.notion.so/1c43ca152fef80119e01d261dedcc0cb?v=1c43ca152fef8086b987000c48206850' target='_blank'>Notion Archive</a>"
author_profile: true
redirect_from:
  - 
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
